/* Общие стили */
* {
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.dragItem {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  position: relative;
}

.dragItem_enter1,
.dragItem_enter2 {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: lime;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.dragItem_out1,
.dragItem_out2 {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
}
.dragItem_out1,
.dragItem_enter1 {
  cursor: auto;
}
.dragItem_enter2,
.dragItem_out2 {
  left: auto;
  right: 0px;
  cursor: url('img/cursor.png'), auto;
}

polyline {
  cursor: pointer;
}

/* Основная секция */
.main {
  padding-top: 20px;
}
.main__inner {
  display: flex;
  justify-content: space-between;
}

/* Поля */
.zones {
  width: 300px;
  position: relative;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.zones__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 150px;
  margin: 0 auto;
}

.zones .zone {
  height: 150px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.zones .zone-signal {
  height: 200px;
  flex-direction: column;
  align-items: start;
  padding-top: 10px;
  padding-bottom: 10px;
}
.zones .zone-signal .dragItem:not(:first-child) {
  margin-top: 10px;
}

.zone:not(:first-child) {
  margin-top: 20px;
}

/* Полки с перетаскиваемыми объектами */
.shelf {
  width: 200px;
  padding: 10px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf .shelf__block {
  margin-top: 20px;
}

/* Поля с инпутами */
.data {
  width: 400px;
  padding-top: 30px;
}
.data__block {
  padding: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

.data__block:not(:first-child) {
  margin-top: 20px;
}

.data-inner {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  display: none;
}
.data-signal .data-inner {
  display: block;
}

.data-inner__block {
  margin-bottom: 5px;
}
.data-inner__block input {
  width: 100px;
}

.data-signal {
  height: 200px;
}
.data-signal .data-inner__block {
  width: 100%;
  display: flex;
  align-items: center;
}
.data-signal .data-inner__block label {
}
.data-signal .data-inner__block select {
  margin-left: 10px;
}
.data-signal .data-inner__block input {
  margin-left: 10px;
}

/* LS */
.clearLS {
  display: block;
  margin: 0 auto;
}
/* LS end */
